@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .backgroundImage {
    background-image: url("https://res.cloudinary.com/deaejawfj/image/upload/v1683478256/backgroundhero_rob5tu.webp");
    z-index: -99;
  }

  .backgroundImageAreaCliente {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/deaejawfj/image/upload/e_recolor,o_100/v1683496739/bgareadocliente_zl0l5c.webp");
    background-size: cover;
  }

  .gauge {
    position: relative;
    margin: 1rem auto;
    width: 80px;
    height: 80px;
  }

  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.1rem solid #fff;
    border-bottom: 0.1rem solid #514f4e;
    border-radius: 50%;
    outline: 0.2rem solid #fff;
    outline-offset: 0.4rem;
    overflow: hidden;
  }

  .progress::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #514f4e;
    border-radius: 50%;
    z-index: 200;
  }
  .progress::after {
    position: absolute;
    content: "";
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: #514f4e;
  }

  .bar {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #098a5b;
    transform: rotate(90deg);
    transform-origin: center right;
    animation: rotate 2s ease-in-out;
  }

  .needle {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #fff !important;
    clip-path: polygon(50% 0, 50% 0, 52% 100%, 48% 100%);
    transform: rotate(90deg);
    transform-origin: bottom center;
    animation: rotate 2s ease-in-out;
    z-index: 300;
  }
}
